<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Novo Usuário</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="body-index">
    <section class="container-box">
        <img th:src="@{/img/tc-logo.png}" height="250" width="250"/>
        <form class="form-box" id="cadastro-form" th:action="@{/user/cadastrar}" method="post">
            <h1>Novo cadastro</h1>
            <div class="form-cell">
                <label for="username">Nome de Usuário</label>
                <input type="text" id="username" name="username" class="input-field" required>
            </div>
            <div class="form-cell">
                <label for="zipCode">CEP</label>
                <input type="text" id="zipCode" name="zipCode" class="input-field" required>
            </div>
            <div class="form-cell">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" class="input-field" required>
            </div>
            <div class="form-cell">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" class="input-field" required>
            </div>
            <button type="submit" class="edit-button">Cadastrar</button>
            <div class="register">
                <p>Já possui uma conta? <a href="/user/login">Acessar</a></p>
            </div>
        </form>
    </section>
</body>
</html>