<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="body-index">
    <section class="container-box">
        <img th:src="@{/img/tc-logo.png}" height="250" width="250"/>
        <form class="form-box" action="/user/login" method="post">
            <h1>Login</h1>
            <div class="error-message-box">
                <label th:if="${param.error}" th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}" class="text-center redText"></label>
            </div>
            <div class="form-cell">
                <label for="username">E-mail de Usuário</label>
                <input type="email" name="username" id="username" class="input-field" required>
            </div>
            <div class="form-cell">
                <label for="password">Senha</label>
                <input type="password" name="password" id="password" class="input-field" required>
            </div>
            <button type="submit" class="edit-button">Acessar</button>
            <div class="register">
                <p>Não possui uma conta ?</p>
                <a href="/user/cadastrar"> Cadastre-se</a>
            </div>
        </form>
    </section>
</body>